/* Globals */

:root {
  --white-font: white;
  --gray-font: gray;
  --black-font: black;
}

body {
  margin: 0;
  background: black;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Quicksand', sans-serif;
  background: var(--black-font);
}

.back {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 8px;
  display: block;
}
.video-domie {
  width: 100%;
  height: 275px;
}
.movie-info{
  margin-left: 15px;
}
.movie-title{

  font-size: 27px;
  font-weight: bold;
  color: var(--white-font);
}
.info h2{
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 8px;
}
.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.similar-percentage {
  font-size: 14px;
  font-weight: bold;
  color: #71D074;
  margin-right: 24px;
}

.year-time {
  font-size: 14px;
  color: var(--gray-font);
}

.register{
  background: var(--gray-font);
  color: var(--white-font);
  border-radius: 1.5px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 2px;
}
.quality {
  font-size: 14px;
  border: 1px solid var(--gray-font);
  color: var(--gray-font);
  padding: 2px;
}

/* Actions*/
.actions {
  display: block;
  margin: 0 15px;
}
.actions button{
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.description-movie {
  margin:0 15px;
}

.description-movie p {
  color: var(--white-font);
}

/* Reactions */

.reactions-container{
  display: flex;
  justify-content: space-evenly;
  width: 182px;
}
.reactions{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reactions span{
  font-size: 11px;
  font-weight: 400;
  display: block;
  color: var(--gray-font);
}
/* categories */

.categories {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.categorias-title{
  width: 112px;
  border-top: 4px solid #D22F26;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 900;
  margin-left: 15px;
  color: var(--white-font);
}

.carousel-container {
  white-space: nowrap;
  margin-left: 15px;
}

.carousel-item {
  position: relative;
  display: inline-block;

}
.carousel-item img{
  width: 96px;
  height: 144px;
  margin-right: 8px;
  border-radius: 5px;
}


/* bottom-nav */

.bottom-nav{
  height: 64px;
  width: auto;
}

.bottom-nav-container {
  width: -webkit-fill-available;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 3;
  background: var(--black-font);
}
.bottom-actions {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bottom-actions a{
  text-decoration: none;
}

.bottom-actions span{
  font-size: 11px;
  font-weight: 400;
  display: block;
  color: var(--gray-font);
}